
.login-background {
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}

.login-card {
    max-width: 400px;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    padding: 1.5rem;
    animation: slide-in 0.8s ease-out;
    border-radius: 2%;
}

.animate-slide-in-right {
    animation: slide-in-right 0.8s ease-out;
}